fastapi
uvicorn[standard]
jinja2
python-dotenv
openai
pydantic-settings
httpx
sqlalchemy
pymysql
redis
cryptography
apscheduler
python-multipart
minio
hanlp
pypdf
python-docx
python-pptx
openpyxl
beautifulsoup4
lxml
requests
faiss-cpu
elasticsearch>=8.15.0,<9.0.0
numpy
tiktoken
sentence-transformers